* {
    margin: 0;
    padding: 0;
}



.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.form {
    margin: 7%;
    background: #ffffff;
    padding: 1em 2em 1em 2em;
    border-radius: 4px;
}

.name,
.password,
.plan,
.btn {
    display: flex;
    justify-content: center;
    margin: 10%;
}

input[type="text"] {
    padding: 1em 1.5em 1em 1.5em;
    border: none;
    background: rgb(238, 235, 235);
    border-radius: 5px;
    outline: none;
    font-family: 'Josefin Sans', sans-serif;
}

button {
    padding: .7em 1em .7em 1em;
    outline: none;
    border: none;
    cursor: pointer;
    background: rgb(25, 48, 70);
    color: #ffffff;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    border-radius: 5px;
    font-size: .8rem;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
    text-shadow: 1px 1px 2px #000000;
}

button:hover {
    transition: all .3s;
    background: rgb(77, 77, 77)
}

.form h2 {
    font-family: 'Montserrat', sans-serif;
    font-family: 'Quicksand', sans-serif;
    font-size: 1.4rem;
    margin: 2%;
    border-bottom: .5px dashed #1c1d1e;
    line-height: 50px;
}